

/* Banner */
#banner {
    text-align: center;
    padding: 60px;
    background-image: url('banner-background.jpg'); /* Reemplaza con la imagen de fondo deseada */
    background-size: cover;
    color: #070707;
}

#banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#banner p {
    font-size: 18px;
    margin-bottom: 40px;
}

#banner a {
    display: inline-block;
    background-color: #007acc;
    color: #fefdfd;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#banner a:hover {
    background-color: #00578e;
}

/* Sección Acerca de Nosotros */
#about {
    background-color: #fff;
    padding: 40px;
}

#about h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#about p {
    font-size: 16px;
}

/* Sección Características Principales */
#features {
    background-color: #f0f0f0;
    padding: 20px;
}

#features h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#features ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features li {
    flex: 0 0 calc(33.33% - 20px); /* Para que haya 3 elementos por fila con espacio entre ellos */
    text-align: center;
    margin-bottom: 20px;
}

#features img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#btn-salir {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    color: #00578e;
}
#btn-salir:hover {
    background-color: #00578e;
    color: #FFFFFF;
}

