{% extends "layout.html" %}
{% block body %}
    <section id="alerts">
        <h2>Alertas</h2>
        <div class="alert">
            <h3>Alerta de Zona Peligrosa</h3>
            <p>Se ha informado de una zona peligrosa en la cincunvalar cerca de alameda debido a obras viales. Se recomienda evitar esta área.</p>
        </div>

        <div class="alert">
            <h3>Alerta de Intersección Conflictiva</h3>
            <p>La intersección las gardenias y las malvinas ha experimentado un alto número de accidentes. Se recomienda precaución al cruzar.</p>
        </div>

        <div class="alert">
            <h3>Alerta Climática</h3>
            <p>Se esperan lluvias fuertes en la tarde. Asegúrate de llevar tu equipo de lluvia si planeas andar en bicicleta.</p>
        </div>
    </section>
{% endblock %}