{% extends "layout.html" %}
{% block body %}  

    <section id="interaccion">
        <h2 id="titulo">¡Únete a la Comunidad Ciclista <a id="nombre">{{usuario}}</a>!</h2>
        <p>Comparte tus consejos, rutas favoritas y eventos relacionados con el ciclismo urbano.</p>
        
        <section id="coments" class="comentarios">
            
        </section>

        <!-- Formulario para compartir consejos -->
        <div class="form"> 
            <label for="consejo">Comparte un Consejo:</label>
            
            <input type="text" id="consejo" name="consejo" value= {{idusuario}}>
            <button class="boton" onclick="sendmessage()">Enviar Consejo</button>
        </div class="form">
    </section>
    
    <script src="./../static/js/comunity.js"></script>
{% endblock %}