{% extends "layout.html" %}
{% block body %}
    <section id="banner">
        <h2>Bienvenido a nuestra aplicación</h2>
        <p>Planifica tus rutas, mantente seguro y únete a la comunidad ciclista.</p>

    </section>

    <section id="about">
        <h2>Acerca de Nosotros</h2>
        <p>Somos una aplicación dedicada a mejorar la movilidad de los ciclistas en nuestra ciudad. Ofrecemos mapas detallados de ciclovías, alertas de seguridad en tiempo real y un lugar para que los ciclistas se conecten y compartan experiencias.</p>
    </section>

    <section id="features">
        <h2>Características Principales</h2>
        <ul>
            <li>
                <img src="../static/imagenes/mappng.png" alt="Icono de Mapa">
                <h3>Mapeo de Ciclovías</h3>
                <p>Visualiza y planifica rutas ciclistas de manera conveniente.</p>
            </li>
            <li>
                <img src="../static/imagenes/bicisec.png" alt="Icono de Alerta">
                <h3>Alertas de Seguridad</h3>
                <p>Mantente informado sobre zonas peligrosas y condiciones climáticas.</p>
            </li>
            <li>
                <img id="cc" src="../static/imagenes/pngegg.png" alt="Icono de Comunidad">
                <h3>Comunidad Ciclista</h3>
                <p>Únete a una comunidad activa de ciclistas y comparte tus rutas y experiencias.</p>
            </li>
        </ul>
    </section>

{% endblock %}
