<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiclaSegura</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/1196/1196828.png">
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='css/homes.css')}}">
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='css/estilor.css')}}">
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='css/estiloa.css')}}">
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='css/estiloc.css')}}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css" type="text/css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css" rel="stylesheet" type="text/css"
    />



</head>
<body>
    <header>
        <h1>CiclaSegura</h1>
        <nav>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/rutas">Mapa de Ciclovías</a></li>
                <li><a href="/alertas">Alertas de Seguridad</a></li>
                <li><a href="/comunidad">Comunidad Ciclista</a></li>
                <li style="border-right: 2px solid #FFFFFF;"></li>
                <li><a id="btn-salir" href="/salir">Salir</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}

    {% endblock %}

        <script src="{{url_for('static', filename='js/app.js')}}"></script>
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="./../static/js/comunity.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        <!-- Semantic UI theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

        <!-- 
            RTL version
        -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
        <!-- Semantic UI theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>

    <footer>
        <p>&copy; 2023 App de Gestión de Ciclovías y Seguridad(pata de gallo)</p>
    </footer>
    
</body>
</html>