<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/1196/1196828.png">
    <link rel="stylesheet" href="./../static/css/estilo.css"> 
    
</head>
<body>
    <div class="login-container">
        <h2>Registrar</h2>
        <form action="/register" method="post"> 
            <label for="username">Correo:</label>
            <input type="text" id="correo" name="correo" required>

            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="password">genero:</label>
            <input type="password" id="genero" name="genero" required>
            
            <button type="submit">Registrarme</button>
        </form>
    </div>
</body>
</html>
